div.com-content-category-blog__item {
  &.blog-item {
    border-bottom: 3px solid var(--primary);

    .item-content {
      .page-header {
        h2>a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      aside.akenage-comments-counter--blog {
        margin-bottom: .75em;
      }
    }

  }
}
